:root {
  --color-primary: #7C3AED;
  --color-sub: #EDE9FE;

  --color-slate-900: #0F172A;
  --color-slate-800: #1E293B;
  --color-slate-500: #64748B;
  --color-slate-400: #94A3B8;
  --color-slate-300: #CBD5E1;
  --color-slate-200: #E2E8F0;
  --color-slate-100: #F1F5F9;
  --color-slate-50: #F8FAFC;

  --color-rose-500: #F43F5E;
  --color-lime-300: #BEF264;

  --color-amber-800: #92400E;
}