.delete-button {
  padding: 0;
  margin: 0;

  border: none;
  background: transparent;

  cursor: pointer;

  /* align-items: center;
  justify-content: center; */
}

.delete-button img {
  display: block;
}